.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.element {
  width: 200px;
  height: 200px;
  position: relative;
  right: -50px;
  top: 100px;
  background-color: bisque;
}
